<h1>Edit Task</h1>
<%= simple_form_for([@user, @task]) do |f| %>
  <%= f.input :content, label: "Task" %>
  <%= f.input :priority, collection: ['Normal', 'Urgent'], selected: @task.priority %>
  <%= f.button :submit %>
<% end %>