@import "bootstrap-sprockets";
@import "bootstrap";

.page-content-main{
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
}

.list-group{
    padding-left: 3%;
    width: 47%;
}

.buttonControl{
    padding-left: 3%;
}

.jumbotron{
    padding-top: 30px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 0px;
}

.commentContainer{
    padding-left: 3%;
    padding-right: 3%;
}

