.page-content-main{
    padding-top: 0px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20%;
}

.list-group{
    padding-left: 3%;
    width: 47%;
}

.buttonControl{
    padding-left: 3%;
}